.card {
    width: 18rem;
    margin: 1em;
}

.card-body {
    padding: 1.25rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
}

.email {
    display: flex;
    justify-content: center;
}